

body {
  background: linear-gradient(to right, blue, pink);
}

#root {
  border-radius: 10px;
  width: 380px;
  margin: 0 auto;
  padding: 2.5rem;
  text-align: center;
  background-color: #fff;
  color: #000;
}